.trailer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  border: 0;
  outline: 0;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.flex-center {
  justify-content: center;
}

.green {
  color: #133513;
  background-color: #66b16a;
}
.yellow {
  color: #31310f;
  background-color: #fafa96;
}
.orange {
  color: #4b3b1e;
  background-color: #ecbe67;
}

.active {
  background-color: orange;
  color: orange;
}
